body {	}

a {
}


.login-page {
	background: url(img/cool-background-wallpapers-62.jpg) #2c2e2f;
	color: #fff;
	padding-top: 150px;
	background-size: cover;
	background-repeat: no-repeat;
}


.dxc-tooltip {
	z-index: 999999999;
	
}


/*
.yadcf-filter, .yadcf-filter-date  {
	display: block;
	width: 100%;
	height: 32px;
	padding: 6px 12px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #e4e4e4;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	font-size: 12px;
	font-weight: 400;
}
*/


.panel .panel-body {
	color: black;
}

/*
.modal .modal-dialog .modal-content .modal-header {
	color: white;
	background-color: #68b828;
	border: none;
	margin: -31px -31px 20px -31px;
	padding: 15px 30px;

}
.modal .modal-dialog .modal-content .modal-header h4{
	font-size: 15px;
}


.modal .modal-dialog .modal-content .modal-header button.close{
	color: white;
}
*/

.toast-info.black {
	background-color: rgba(44,46,47,.8);
}

.table-striped > tbody > tr.selected {
	background-color: #ebf6fe;
}

.dataTables_info {
	float: left;
}

.dataTables_wrapper .dataTables_paginate {
	padding-top: 0px;
	float: right;
}

.dataTables_wrapper .dataTables_paginate  .pagination {
	padding-top: 0px;
	margin-top: 0px;
}

input {
	transition: 1.2s ease all;
}

input.wm_changed {
	background-color: #ecffe7;
	border: 1px solid #c2e0c2;
	transition: 1.2s ease all;
}

/* Горизонтальный скролл для динамических таблиц */
.dataTables_wrapper {
	width: 100%;
	height: auto;
	overflow-y: auto;
	overflow-x: auto;
	max-width: 100%;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

th.wm_delete_cell {
	width: 35px;padding-left: 0px;padding-right: 0px;text-align: center;
}




.dataTable th, .dataTable td {
    word-break: normal;
}

/* Первая ячейка для отметки удаления строк 
.dataTable tr td:first-child, .dataTable tr th:first-child {
	text-align: center;
	padding-left: 8px !important;
	padding-right: 8px !important;
	vertical-align: middle;
	width: 32px !important;
}
*/

.dataTable .form-control {
	width: 100%;
	min-width: 100px;
}

/* удаленная строка */

.dataTable > tbody > tr.wm_row_deleted {
	background-color: #fffcfc !important;
	color: #eaeaea;
}

.dataTable > tbody > tr.wm_row_deleted input {
	/*
	border-color: #f6f6f6;
	background-color: white;
	color: #eaeaea;
	*/
	
	opacity: 0.1;
}


.dataTable > tbody > tr.wm_row_deleted td {
	border-right-color: #f6f6f6 !important;
	color: #eaeaea;
}

.dataTable > tbody > tr.wm_row_deleted > td:first-child > .cbr-replaced {
	display: none;
}

/* кнопка выпадающего окна */

td.details-control {
    background: url('../js/datatables/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../js/datatables/images/details_close.png') no-repeat center center;
}

/* заголовки таблицы вертикально по центру */
.table > thead > tr > th {
	vertical-align: middle;
	padding-right: 26px !important;
}

/* иконки сортировки */
.dataTables_wrapper .table thead > tr .sorting::before, .dataTables_wrapper .table thead > tr .sorting_asc::before, .dataTables_wrapper .table thead > tr .sorting_desc::before {
	position: absolute;
	right: 8px;
	top: 35%;
}

/* disabled btn */

.btn[disabled], .btn[disabled]:active {
	background-color: #fff !important;
	color: #333 !important;
	border: 1px solid #ddd !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: middle;
}


/* photo */
.dropzone_wrapper {
	height: 36px;
	width: 36px;
	background-image: url(http://sokol-saratov.ru/img/no_image.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}


.dz-preview {
	display: none;
}


th > span{
	display: block;
	word-wrap: normal; 
	min-width: 40px;  
	word-break: normal;
}




.dt-remove-icon-row{color:#d5080f;cursor:pointer}
.dt-remove-icon-row:hover{color:#bc070d;}
.dt-remove-icon-row:active,.dt-remove-icon-row:focus{color:#bc070d;}


.fa-plus-circle.dt-add-row {
	font-size: 19px;
	color: green;
	cursor: pointer;
	position: relative;
	left: 5px;
	top: 1px;
}